
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.slider-container {
  width:  100%;
  /* max-width:  300px; */
  /* max-height:  300px; */
  overflow: hidden; /* Hide overflowing content */
}

